/* 
.card {
  margin-top: 10px;
  margin-left: 20px;
  width: 25%;
  float:left;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 5px;
}

.card-text {
  font-size: 22px;
  padding: 25px;
}

.table_col {
  padding-top: 120px;
  padding-right: 0;
} */






.container>.row {
  margin-top: 100px;
}

.card {
  padding: 5%;
  margin-top: 20px;
}

.card-img>img {
  display: block;
  margin: 25px auto;
  width: 100%;
  border-radius: 5px;
}

.card-title {
  font-size: 130%;
  font-weight: bold;
}

.card-subtitle {
  font-size: 90%;
  font-style: italic;
}

.card-text>p {
  text-align: center;
  padding: 5px;
}

.card>button {
  width: 80%;
  margin: 15px auto;
}

.description {
  margin-top: 20%;
}
